
.logo{
    
    color: rgb(214, 112, 28); 
    margin-top: 3px;
    margin-left: 30px;
    margin-right: 700px;
    padding-bottom: 3px;
    
}




.carrito-compra{
    margin-right: -100px;
    margin-top: 0px;
}

a.active{
    color: rgb(214, 112, 28); 
}

.barra{
    padding:  40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.8rem;
    align-items: center;
    
}